div {
    margin: 50px 50px;
};

.exo1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: gray;
    padding: 50px 50px;

}

.exo2 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: red;
    padding: 50px 50px;
}

.exo3 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: green;
    padding: 50px 50px;
}

.exo4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: yellow;
    padding: 50px 50px;
}

.exo5 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: orange;
    padding: 50px 50px;
}

.exo6 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: purple;
    padding: 50px 50px;
}

.exo7 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: gold;
    padding: 50px 50px;
}

.bt-exo:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

.rtg1-ex4 {
    height: 100px;
    width: 200px;
    background-color: blue;
}

.rtg2-ex4 {
    height: 100px;
    width: 200px;
    background-color: blue;
}

.box-exo4 {
    height: 50px;
    width: 50px;
    background-color: green;
}

.nbClick-box {
    height: 35px;
    width: 150px;
    background-color: blue;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

//calculatrice niveau 2
.calculatrice {
    height: 400px;
    width: 300px;
    background-color: cadetblue;
    border: 2px solid grey;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    
    .resposta {
        height: 40px;
        border-radius: 5px;
        //margin-bottom: 20px;
        text-align: center;
        
    }

    .row1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgrey;
            border: 1px solid grey;
            //margin: 5px;
            text-decoration: none;
            color: black;
            font-weight: bolder;
            border-radius: 50%;
            box-shadow: 3px 3px 3px black;
        }

        button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: brown;
            border: 1px solid black;
            //margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            border-radius: 50%;
        }

        a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: brown;
            border: 1px solid black;
            //margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            border-radius: 50%;
        }
    }
}
